<StackLayout horizontalAlignment="center" verticalAlignment="center">

    <Button (tap)="SimpleDialog()" text="Simple Dialog"></Button>
    <Button (tap)="Dialog()" text="Dialog with Object"></Button>
    <Button (tap)="ActionDialog()" text="Action Dialog"></Button>
    <Button (tap)="ConfirmDialog('Hola')" text="Confirm Dialog"></Button>
    <Button (tap)="LoginDialog()" text="Login Dialog"></Button>
    <Button (tap)="PromptDialog()" text="Prompt Dialog"></Button>

    <Button (tap)="Scan()" text="Scannear codigo QR"></Button>
    <Button (tap)="getLocation()" text="Ver localizaciòn"></Button>

    <Button (tap)="getCamara()" text="Camara"></Button>

    <image [src]="imageSrc"></image>
</StackLayout>

